{% extends "base.html" %}
{% block title %} Add Card {% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-7 offset-lg-2 my-5">
        <h1>Add a new card</h1><hr>
        <form method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
                <p>
                    {{form.question.label}}
                    {{form.question(class="form-control")}}                                  
                </p>
            </div>
            <div class="form-grop">
                <p>
                    {{form.answer.label}}
                    {{form.answer(class="form-control")}}              
                </p>
            </div>
            <hr> 
            {{form.submit(class="btn btn-primary form-control")}}
            
        </form>
    </div>
</div>
        
{% endblock %}  