{% extends "base.html" %}
{% block title %} QuizWiz {% endblock %}
{% block content %}
        <div class="row bg-light my-5">
        <h1>QuizWiz</h1>
        <h3>Have fun Learning Organic Chemistry !</h3>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="my-4">
                    <blockquote class="blockquote mb-0">
                        <p>The best digital flashcards and study tools for Organic Chemistry.<br>
                            Join over 60 million students using QuizWiz’s science-backed flashcards, 
                            practice tests and expert solutions to improve their grades and reach their goals.
                        </p>
                    </blockquote>                    
                    <div class="embed-responsive embed-responsive-16by9 my-4">
                        <img class="rounded top embed-responsive-item" 
                                    src="{{url_for('static',filename='study.jpg')}}"  alt="Organic Chemistry"/>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 my-4">
                        <img class="rounded top embed-responsive-item" 
                                    src="{{url_for('static',filename='kid.jpg')}}"  alt="Organic Chemistry"/>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row my-5 card-wrapper">                    
                        <div class="col-md-auto">                            
                            <ul>
                                {% for card in cards %}
                                <div class="card h-100">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <img class="card-img top embed-responsive-item" 
                                        src="https://picsum.photos/id/{{card.id+50}}/200/200"  alt="Organic Chemistry"/>
                                        <a href="{{url_for('card_view',id=card.id)}}">
                                            {{card.question}}
                                        </a>
                                    </div>                          
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
            </div>
        </div> 
        <!--
        <h2>
            Flash Cards
        </h2>
        <ul>
            {% for card in cards %}
            <li>
                <a href="{{url_for('card_view',index=loop.index0)}}">
                    {{card.question}}
                </a>
            </li>
            {% endfor %}
        </ul>
        -->       
       
{% endblock %}  
